sormas-e2e-tests/src/main/resources/survnetXMLTemplates/xmlSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www3.rki.de/ns/SurvNet/2021/01/Transport" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Transport">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="CVD">
          <xs:complexType>
            <xs:sequence>
              <xs:choice maxOccurs="unbounded">
                <xs:element maxOccurs="unbounded" name="Field">
                  <xs:complexType>
                    <xs:attribute name="Name" type="xs:string" use="required" />
                    <xs:attribute name="Value" type="xs:string" use="required" />
                  </xs:complexType>
                </xs:element>
                <xs:element name="Track">
                  <xs:complexType>
                    <xs:attribute name="GuidTrack" type="xs:string" use="required" />
                    <xs:attribute name="Action" type="xs:unsignedByte" use="required" />
                    <xs:attribute name="TrackedAt" type="xs:dateTime" use="required" />
                    <xs:attribute name="CodeSite" type="xs:string" use="required" />
                    <xs:attribute name="VersionNoSite" type="xs:unsignedByte" use="required" />
                    <xs:attribute name="Software" type="xs:string" use="required" />
                  </xs:complexType>
                </xs:element>
                <xs:element name="Addressee">
                  <xs:complexType>
                    <xs:attribute name="CodeSite" type="xs:decimal" use="required" />
                    <xs:attribute name="Implicit" type="xs:boolean" use="required" />
                    <xs:attribute name="Explicit" type="xs:boolean" use="required" />
                  </xs:complexType>
                </xs:element>
              </xs:choice>
            </xs:sequence>
            <xs:attribute name="GuidRecord" type="xs:string" use="required" />
            <xs:attribute name="VersionNo" type="xs:unsignedByte" use="required" />
            <xs:attribute name="Schema" type="xs:unsignedByte" use="required" />
            <xs:attribute name="CodeRecordOwner" type="xs:string" use="required" />
            <xs:attribute name="CodeVersionEditor" type="xs:string" use="required" />
            <xs:attribute name="Token" type="xs:string" use="required" />
            <xs:attribute name="ToTransportManual" type="xs:boolean" use="required" />
            <xs:attribute name="ChangedAt" type="xs:dateTime" use="required" />
            <xs:attribute name="TransportRequestType" type="xs:unsignedByte" use="required" />
            <xs:attribute name="ReferenceDefComputed" type="xs:boolean" use="required" />
            <xs:attribute name="ReportingDate" type="xs:dateTime" use="required" />
            <xs:attribute name="ReportingCounty" type="xs:unsignedInt" use="required" />
            <xs:attribute name="CaseDefClinComputed" type="xs:unsignedByte" use="required" />
            <xs:attribute name="CaseDefClinManual" type="xs:boolean" use="required" />
            <xs:attribute name="CaseDefLabComputed" type="xs:boolean" use="required" />
            <xs:attribute name="CaseDefLabManual" type="xs:boolean" use="required" />
            <xs:attribute name="CaseDefEpiManual" type="xs:boolean" use="required" />
            <xs:attribute name="CaseDefCategoryComputed" type="xs:byte" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="GuidTransport" type="xs:string" use="required" />
      <xs:attribute name="CodeSiteSender" type="xs:string" use="required" />
      <xs:attribute name="CodeSiteReceiver" type="xs:string" use="required" />
      <xs:attribute name="TransportNumber" type="xs:unsignedByte" use="required" />
      <xs:attribute name="CreatedAt" type="xs:dateTime" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>